
body{
    /* background-color: #3D8361; */
    background-color: #000000;
    /* background-color: #D6CDA4; */
    font-family: 'Roboto', sans-serif;
}

header{
    /* display: flex;
    align-items: center; */
    /* background-color: #EEF2E6; */
    background-color: rgba(34, 32, 32, 0.473);
    height: 5rem;
    
}

.navbar-toggler{
    background-color: rgb(51, 50, 50);
}

.navbar-brand{
    background-color: yellow;
    /* border: 3px solid #D6CDA4; */
    line-height: 2rem;
    margin: 0px 10px;
    padding: 5px 20px;
    border-radius: 35px;
    color: black;
    font-weight: 570;
    font-size: 20px;
}

.navbar-nav a{
    line-height: 2rem;
    margin: 0px 10px;
    padding: 5px 20px;
    border-radius: 35px;
    color: white;
    font-weight: 570;
    font-size: large;
}


.flash{
    color: rgb(228, 102, 102);
}

.title{
    font-size:xxx-large;
    color: #F5C518;
    
}

 


footer{
    background-color: rgb(15, 15, 15);
    
}
